{% extends 'tjfail/base.html' %}

{% block body %}
  <p>
    When we were in high school, we joked
    that getting a B+ was a failure, but
    we're all humans, and we've all got
    grown-up problems. What's yours?
  </p>

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li {% if message.tags %}class="message.tags"{% endif %}>
          {{ message }}
        </li>  
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" />
  </form>

  <ul>
    {% for fail in fails %}
      <li>
        {% include 'tjfail/partials/fail.html' with fail=fail %}
      </li>
    {% endfor %}
  </ul>
{% endblock body %}
